*{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}
body {
  background-image: url(ImgsSongs/wallpaperflare.com_wallpaper.jpg);
  background-repeat: no-repeat;
}
header h1 {
  color: hsl(12, 96%, 57%);
  text-align: center;
  font-weight: 700;
  font-style: italic
}
header ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: rgb(19, 18, 18);
}
header li {
  float: left;
  gap: 20px;
}
header li a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
}
li a:hover {
  background-color: rgb(37, 36, 36);
}
h2 {
  margin: 20px;
  font-weight: 900;
  color: rgb(251, 212, 255);
}
p {
  margin-left: 50px;
  font-size: 1.2em;
  font-style: italic;
}
h3 {
  text-align: center;
}
.covers {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 50vw;
  height: 50vh;
}